bin/
target/
*~
*.iml
.idea/
.metadata/
**/*.classpath
**/*.project
**/*.settings
*.class
.DS_Store
**/src-gen/
**/xtend-gen/
.vscode/
kotlin/cdm/**
kotlin/src/main/generated-sources
kotlin/src/main/xtend-gen
kotlin-feature.code-workspace
json-schema/src/main/generated-sources/
json-schema/src/test/generated-sources/
**/.checkstyle
